{{template "base" .}}

{{define "title"}}
    Home
{{end}}

{{define "main"}}
    {{range .Snippets}}
    <div class="snippet mb-40 mt-40">
        <div class="snippet-metadata mb-10">
            <div>
                <span class="text-size-20 mr-20">&#x270D;</span>
                <span class="text-size-18"><a href="#" class="text-dec-none text-green">{{.Author}}</a></span>
            </div>
            <div>
                {{humanDate .CreatedAt}}
            </div>
        </div>
        <div class="snippet-content text-size-20">
            {{.Content}}
        </div>
        <div class="snippet-comments">
            <div class="snippet-breakline"></div>
            <span>&#x21B3; </span>
            <a href="#" class="text-dec-none text-size-18 text-green">Comments</a>
        </div>
    </div>
    {{end}}
{{end}}